<template>
  <div>
    <h1 class="mt-4">
      Dijkstra algorithm
    </h1>

    <br />

    <strong>
      Create your own weighted graph and calculate the shortest path between nodes!
    </strong>
    <br><br>
    Functionality includes:
    <ul>
      <li>Highly advanced graph editor, thanks to <a href="https://js.cytoscape.org/">Cytoscape</a></li>
      <li>Changing aesthetic freely</li>
      <li>Using Dijkstra algorithm to find the shortest path</li>
      <li>Graph editor supports mobile devices</li>
    </ul>
    <h4 class="mt-4">
      Technology used:
    </h4>
    <ul>
      <li><a href="https://vuejs.org/"><icon :icon="['fab', 'vuejs']" /> Vue.js</a> for client-side code</li>
      <li><a href="https://webpack.js.org/">Cytoscape</a> for graph display and manipulation</li>
    </ul>
    <strong>To start, click the <a href="/cytoscapedijkstra/graph">Graph</a> menu!</strong>
    <br/><br/>
    <strong>Made by Paweł Lipski and Natalia Kaczor</strong><br/>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style>

</style>
