<template>
  <div id="app">
    <div id="nav" style="margin-left:10px;">
      <router-link to="/cytoscapedijkstra">Home</router-link> |
      <router-link to="/cytoscapedijkstra/graph">Graph</router-link>
    </div>
    <div style="margin-left:25px;">
        <router-view />
    </div>
  </div>
</template>

<style>
</style>
